{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": { "chrome": "90" },
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    "@babel/preset-typescript"
  ]
}
